@charset "utf-8";
/* CSS Document */

.container
{
	width:100%;
	height:760px;
	background-color:#CCC;
	
}
body
{
	width:100%;
	height:760px;
	margin:0;
}

.name
{
	height:100px;
	width:365px;
	background-color:#CCC;
	display:inline-block;
	left:340px;
	top:55px;
	position:absolute;
}
.name pre
{
	display:inline;
	color:#504D4D;
	font-size:30px;
	text-height:text-size;
	left: 1px; 
	width: 330px; 
	height:100px;
	position: relative; 
	pointer-events: none; 
	top: 20px;
	font-family:"MS Serif", "New York", serif;
	
}
p
{
	display:inline;
	font-size:20px;
	position:relative;
	color:#504D4D;
	top:25px;
	
}
.rightnav
{
	width:500px;
	margin:25px;
	display:inline-block;
	height:100px;
	margin-left:700px;
	margin-top:55px;
}
.downsize
{
	width:500px;
	margin-top:50px;
	display:inline-table
	height:50px;
	background-color:#CCC;

}
nav
{
	width:805px;
	height:50px;
	list-style:none;
	display:inline-block;

	
}
ul li
{
	float:left;	
	list-style:none;
	padding:1px 20px ;
	font-size:15px;
	font-family:"MS Serif", "New York", serif;
	color:#504D4D;
	   
}
ul li:hover
{
	color:#06F;
	transition: .5s ease;
	
}
.circle
{
	
	
	display:inline-block;
	background-color:#504D4D;
	border-radius:100%;
	object-fit:cover;
	outline:0;
	left: 290px;
	position: absolute; 
	top: 300px; 
	width: 386px; 
	height: 380px;
	opacity:0.9;
	 
	
}
.circle img
{
	width:356px;
	height:350px;
	border-radius:500%;
	display:inline-block;
	opacity:0.8;
	top:15px;
	position:relative;
	
}
.hello
{
	width:805px;
	height:150px;
	background-color:#CCC;
	margin-left:700px;
margin-top:75px;
	display:inline-block;
	
}
h1
{
	font-size:75px;
	width:805px;
	height:100px;
	display:inline;
	margin-top:-45px;
	color:#504D4D;
	font-family:"MS Serif", "New York", serif;
}
.hello pre
{
	
		font-size:40px;
	width:805px;
	height:100px;
	display:inline;
	margin-top:-4px;
	color:#504D4D;
	font-family:Tahoma, Geneva, sans-serif;
	
	
}
.circle2
{
	width:805px;
	height:150px;
	background-color:#CCC;
	display:inline-block;	
	margin-left:700px;
	
	
	
	
}

.three_circle {
  height: 130px;
  min-height: 15px;
  width: 130px;
  background-color: #CCC;
  border-radius: 50%;
  display: inline-block;
  margin-left:4px;
  border:2px solid #FFF;
  margin-top:12px;
  
}
.three_circle a
{
	
	text-decoration:none;
	color:#000;
	margin:15px 15px 70px;
	display:inline-block;
	margin-top:55px; 
	font-family:"MS Serif", "New York", serif;
	
	
	
	
	
	
}
.three_circle a:hover
{
	
	color:#FFF;

	
}

.three_circle:hover
{
	color:#FFF;
	background-color:#F00;
	display:inline-block;
	transition: .8s ease;
	color:#FFF;
	opacity:0.8;	
}
.para
{
	
	width:450px;
	height:120px;
	margin-left:705px;
	background-color:#CCC;
	
}
.para p
{
	width:805px;	
	font-family:"MS Serif", "New York", serif;
	text-align:justify;
    line-height: normal;
    letter-spacing: normal;
	color: #4D4D4D;
	font: normal normal normal 13px/1.2em 'Open Sans',sans-serif;
	
    vertical-align: baseline;
	
	
	
}
footer
{
	
	width:100%;
	height:120px;
	background-color:rgba(232, 53, 86, 1);
	position:absolute;
	margin-top:80px;	
	

}
